img {
  margin-left: auto;
  margin-right: auto;
  width: 1800px;
  border: 50px solid green;
  border-radius: 4px;
  
}

h1 {
  font-family: "Arial";
  text-align: center;
  font-size: 35px;
  color: darkgreen;
  position: relative;
  top: -1200px;
  text-shadow: 4px 4px white;
}

h2 {
  font-family: "Monotype-Corsiva";
  text-align: center;
  font-size: 40px;
  position: relative;
  top: -1100px;
  color: darkgreen;
}
